@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Roboto", sans-serif;
}

/* General styles for the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f5f7fa; /* Light grey track */
}

::-webkit-scrollbar-thumb {
  background-color: #111827; /* Darker shade for thumb */
  border-radius: 20px; /* Rounded corners */
  outline: none; /* Remove the outline */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #111827 #f5f7fa; /* Thumb and track color */
}
